*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

background:#fff;
overflow-x:hidden;

}

.background{

position:fixed;
width:100%;
height:100%;
background:url("assets/logo.png") center no-repeat;
background-size:65%;
opacity:.06;
filter:blur(2px);
z-index:-1;

}

header{

height:90px;

display:flex;

justify-content:space-between;

align-items:center;

padding:0 80px;

background:linear-gradient(90deg,#ff6200,#ff8b00);

color:white;

}

.logo{

height:60px;

}

nav a{

margin-left:40px;
color:white;
text-decoration:none;
font-weight:600;
transition:.3s;

}

nav a:hover{

opacity:.7;

}

.hero{

display:flex;

justify-content:space-around;

align-items:center;

padding:70px;

}

.left{

width:48%;

}

.mini{

color:#ff6200;
font-weight:700;
letter-spacing:2px;

}

.left h1{

font-size:65px;
line-height:75px;
margin:20px 0;

}

.left h1 span{

color:#ff6200;

}

.left p{

font-size:22px;
color:#555;

margin-bottom:40px;

}

.features div{

display:flex;

align-items:center;

margin:25px 0;

}

.features i{

width:60px;
height:60px;
background:#ff6200;
color:white;
display:flex;
justify-content:center;
align-items:center;
border-radius:50%;
font-size:24px;
margin-right:20px;

}

.chat{

width:420px;

height:680px;

background:white;

border-radius:25px;

box-shadow:0 20px 60px rgba(0,0,0,.18);

overflow:hidden;

display:flex;

flex-direction:column;

}

.chat-header{

height:90px;

background:linear-gradient(90deg,#ff6200,#ff8b00);

display:flex;

align-items:center;

padding:20px;

color:white;

}

.chat-header img{

width:55px;

margin-right:15px;

}

.messages{

flex:1;

padding:20px;

overflow-y:auto;

background:#fafafa;

}

.bot{

background:white;

padding:15px;

border-radius:15px;

margin-bottom:15px;

max-width:85%;

box-shadow:0 5px 15px rgba(0,0,0,.08);

}

.user{

background:#ff6200;

color:white;

padding:15px;

border-radius:15px;

margin-left:auto;

margin-bottom:15px;

max-width:80%;

}

.send{

display:flex;

padding:15px;

background:white;

}

.send input{

flex:1;

padding:15px;

border:1px solid #ddd;

border-radius:50px;

outline:none;

}

.send button{

width:55px;
height:55px;
margin-left:10px;
border:none;
border-radius:50%;
background:#ff6200;
color:white;
font-size:20px;
cursor:pointer;

}

footer{

margin-top:60px;

display:flex;

justify-content:space-around;

background:linear-gradient(90deg,#ff6200,#ff8b00);

padding:45px;

color:white;

text-align:center;

}

footer i{

font-size:40px;
margin-bottom:10px;

}